/* ****************************************** START OF MOBILE FIRST APPROACH *********************************************/
* {
    font-family: 'Balsamiq Sans', cursive;
    box-sizing: border-box;
}

h1{
    font-family: 'Roboto', sans-serif;
}

.main-nav{
    text-align: center;
}

a:link{
    text-decoration: none;
}

header{ 
    background: url("responsive_layouts/images/responsive-layout-profile.png")
}

.container {                           
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
    padding-top: 30px; 
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.profile-image {        
    width: 300px;
    height: 150px;
    padding-left: 40px;
}  

li{
    text-align: center;
}


body{                 
    display: flex;
    flex-direction: column;
    text-align: center;
} 

.portfolio{
    margin-top: 100px;
}

.p-height{
    height: 40px;
}

.intro{
    padding-bottom: 75px;
    height: 10px;
}


.bottom-nav{
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
}


li{
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    color: black;
}

.group{
    width: 300px;
    height: 200px;
}

.col {
    display: block;
    margin: 20px 10px;
    text-align: center;
    padding-top: 10px;
}  

.nav{
    font-weight: bold;
}

.hidden{
    display: none;
}

.student{
    margin-right: auto;   
}

.name{
font-size: 20px;
}
/********************************************** END OF MOBILE FIRST APPROACH **************************************************/



/*////////////////////////////////////////////////////// MEDIA QUERIES ///////////////////////////////////////////////////////*/

/* TABLET SIZED VIDEPORT */
@media(min-width: 768px){
.p-height{
    height: 40px;
    }

.col {
    float: left;
    width: calc(50% - 20px);
}

.profile-image{
    float: right;
    height: 220px;
    width: 356px;
}

.intro{
    text-align: left;
}

li{
    color: black;
    display: inline-block;
}

.hidden{
    visibility: visible;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.bottom-nav{
   display: none;
}

a:link{
    text-decoration: none;
}

.bottom-name{
    margin-right: auto;
    }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }  
    
}
/***************************************************** END OF TABLET SIZED VIEWPORT *****************************************/


/********************************************************* LARGEST VIEWPORT **********************************************/
@media(min-width: 1024px){

.main-nav{
  display: flex;
  justify-content: space-between;  
}

.name{
    margin-right: auto;
}

.profile-image{
    float: right;
    height: 220px;
    width: 356px;
}


.intro{
    text-align: left;
}

.p-height{
    height: 40px;
}


a:link{
    text-decoration: none;
}

a:hover{
    color: green;
}

.main-footer {
    margin-top: auto;
    text-align: center;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.hidden{
    display: flex;
    justify-content: space-between;
}

.bottom-name {
margin-right: auto;
}

.bottom-nav{
    display: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }  
}

/* END OF LARGEST VIEWPORT */
/* ////////////////////////////////////////////////// END OF MEDIA QUERIES/////////////////////////////////////////////////*/