/* ****************************************** START OF MOBILE FIRST APPROACH *********************************************/
*{
font-family: 'Roboto', sans-serif;
}

h1{
font-family: 'Roboto', sans-serif;
}

header{
background: url ("responsive_layouts/images/responsive-layout-profile.png");
}

.profile-image{
width: 367px;
height: 225px;
}

body{
text-align: center;
}


ul li{
list-style-type: none;
padding: 5px;
margin: 5px;
background: rgb(170, 170, 196);
color: white;
}

.marketing{
width: 367px;
height: 225px;
}

.search{
width: 367px;
height: 225px; 
}

.travel{
width: 367px;
height: 225px; 
}


.fav-spots{
width: 367px;
height: 225px; 
}

.photo-gal{
width: 367px;
height: 225px; 
}

.calculator{
width: 367px;
height: 225px; 
}


/********************************************** END OF MOBILE FIRST APPROACH **************************************************/




/* //////////////////////////////////////////////// MEDIA QUERIES /////////////////////////////////////////////////////// */

/* TABLET SIZED VIDEPORT */
@media(min-width: 768px){
.main-nav{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
background: rgb(170, 170, 196);
}

.profile-image{
float: right;

}

.main-header{
margin-bottom: 200px;

}

ul li{
background: rgb(170, 170, 196);
color: white;
}

} 
/* END OF TABLET SIZED VIEWPORT */





/* LARGEST VIEWPORT */

@media(min-width: 1024px){

.group::after{
content:"";
display:table;
clear:both;
 }   

.main-header{
margin-bottom: 0px;

}


.main-nav{
margin: auto;
flex-direction: row;
justify-content: space-around;
background: rgb(170, 170, 196);
}


.nav{
margin: auto;
background: rgb(170, 170, 196);
color: white;
}


body{
display: flex;
flex-direction: column;
min-height: 100vh;
}

.main-footer{
margin-top: auto;

}

.portfolio{
text-align: center;
}



}


/* END OF LARGEST VIEWPORT */
/* ////////////////////////////////////////////////// END OF MEDIA QUERIES/////////////////////////////////////////////////*/