/* ****************************************** START OF MOBILE FIRST APPROACH *********************************************/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1{
    font-family: 'Roboto', sans-serif;
}

.main-nav{
    text-align: center;
}

.main-header{
    background-color: rgb(229, 244, 252);

}

header{
    background: url ("responsive_layouts/images/responsive-layout-profile.png");
}


.container {
    margin: 0 auto;
    max-width: 1100px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    padding-top: 40px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.p-height{
    height: 40px;
}

.intro{
padding-bottom: 50px;
}

.bottom-nav{
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
}


ul li{
    list-style-type: none;
    padding: 5px;
    background-color: rgb(229, 244, 252);
    margin: 5px;
    color: black;
}

.group{
    width: 365px;
    height: 220px;
}


.main-footer{
    background-color: rgb(229, 244, 252);
}

.col {
    display: block;
    margin: 20px 10px;
    max-width: 100%;
    text-align: center;
    padding-top: 5px;
}  

.nav{
    font-weight: bold;
}

.hidden{
    display: none;
}

/********************************************** END OF MOBILE FIRST APPROACH **************************************************/



/*////////////////////////////////////////////////////// MEDIA QUERIES ///////////////////////////////////////////////////////*/

/* TABLET SIZED VIDEPORT */
@media(min-width: 768px){
    .main-nav {
    display: flex;
    justify-content: space-around;
}

.p-height{
    height: 40px;
    }

.col {
    float: left;
    width: calc(50% - 20px);
}

.profile-image{
    float: right;
    height: 206px;
}

.main-header{
    padding-bottom: 150px;
}

.wrap{
    min-height: calc(100vh - 223px); 
}

ul li{
    color: black;
    background-color: rgb(229, 244, 252);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}    

.hidden{
    visibility: visible;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.bottom-nav{
   display: none;
}

.main-footer{
    padding: auto;
}

.bottom-name{
    margin-right: auto;
    }
}
/***************************************************** END OF TABLET SIZED VIEWPORT *****************************************/




/********************************************************* LARGEST VIEWPORT **********************************************/
@media(min-width: 1180px){

.main-nav{
    justify-content: space-between;
}

.nav{
margin-right: auto;
}

.main-footer {
margin-top: auto;
text-align: center;
}

.col {
width: calc(33.333% - 20px);
text-align: center;
}


.hidden{
display: flex;
justify-content: space-between;
}

.bottom-name {
margin-right: auto;
}

.container {
margin: 0 auto;
max-width: 900px;
font-family: 'Roboto', sans-serif;
padding-bottom: 20px;
}

.bottom-nav{
    visibility: hidden;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}  


}

/* END OF LARGEST VIEWPORT */
/* ////////////////////////////////////////////////// END OF MEDIA QUERIES/////////////////////////////////////////////////*/