/* ****************************************** START OF MOBILE FIRST APPROACH *********************************************/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
   
}

h1{
    font-family: 'Roboto', sans-serif;
}

.main-nav{
    text-align: center;
}

.main-header{
    background-color: rgb(229, 244, 252);
    padding-bottom: 70px;
}
header{ 
    background: url("responsive_layouts/images/responsive-layout-profile.png")
}



.container {
    margin: 0 auto;
    max-width: 1100px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
    padding-top: 30px;


}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.p-height{
    height: 40px;
}

.intro{
padding-bottom: 50px;
}

.bottom-nav{
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
}


ul li{
    list-style-type: none;
    padding: 5px;
    background-color: rgb(229, 244, 252);
    margin: 5px;
    color: black;
}

.group{
    width: 365px;
    height: 220px;
}


.main-footer{
    background-color: rgb(229, 244, 252);
}

.col {
    display: block;
    margin: 20px 10px;
    max-width: 100%;
    text-align: center;
    padding-top: 5px;
}  

.nav{
    font-weight: bold;
}

.hidden{
    display: none;
}

.student{
    margin-right: auto;   
}
/********************************************** END OF MOBILE FIRST APPROACH **************************************************/



/*////////////////////////////////////////////////////// MEDIA QUERIES ///////////////////////////////////////////////////////*/

/* TABLET SIZED VIDEPORT */
@media(min-width: 768px){
.p-height{
    height: 40px;
    }

.col {
    float: left;
    width: calc(50% - 20px);
}


.profile-image{
    float: right;
    height: 216px;
    width: 250px;
}

.main-header{
    padding-bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;
}

.wrap{
    min-height: calc(100vh - 223px); 
}

.nav
.main-nav
ul li {
    display: flex;
    text-align: center;
    display: inline-block;
}



ul li{
    color: black;
    background-color: rgb(229, 244, 252);
    padding: 5px;
    display: inline-block;
}

.hidden{
    visibility: visible;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.bottom-nav{
   display: none;
}

.bottom-name{
    margin-right: auto;
    }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }    
    
}
/***************************************************** END OF TABLET SIZED VIEWPORT *****************************************/


/********************************************************* LARGEST VIEWPORT **********************************************/
@media(min-width: 1200px){

.main-nav{
    justify-content: space-between;
    display: flex;
}

.nav{
    margin-right: auto;
}

.p-height{
    height: 40px;
}

.main-footer {
    margin-top: auto;
    text-align: center;
}

.col {
    width: calc(33.333% - 20px);
    text-align: center;
}

.hidden{
    display: flex;
    justify-content: space-between;
}

.main-header{
    padding-left: 110px;
    padding-right: 110px;
}

.bottom-name {
margin-right: auto;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;   
}

.bottom-nav{
    display: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }  
}

/* END OF LARGEST VIEWPORT */
/* ////////////////////////////////////////////////// END OF MEDIA QUERIES/////////////////////////////////////////////////*/