/* ****************************************** START OF MOBILE FIRST APPROACH *********************************************/
* {
font-family: 'Roboto', sans-serif;
box-sizing: border-box;
border: solid red 1px;
}

h1{
font-family: 'Roboto', sans-serif;
}

header{
background: url ("responsive_layouts/images/responsive-layout-profile.png");
}

.top-third{
background-color: rgb(229, 244, 252);

}


.container {
margin: 0 auto;
max-width: 1100px;
font-family: 'Roboto', sans-serif;
padding-bottom: 20px;
padding-top: 40px;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}

body{
display: flex;
flex-direction: column;
text-align: center;
}

.closing-nav{
justify-content: space-between;
display: flex;
}

ul li{
list-style-type: none;
padding: 5px;
background-color: rgb(229, 244, 252);
margin: 5px;
color: black;
}

.group{
width: 365px;
height: 220px;
}

.main-footer{
background-color: rgb(229, 244, 252);
}

.col {
display: block;
margin: 20px 10px;
max-width: 100%;
text-align: center;
padding-top: 5px;
}  
/********************************************** END OF MOBILE FIRST APPROACH **************************************************/









/*//////////////////////////////////////////////// MEDIA QUERIES ///////////////////////////////////////////////////////*/

/* TABLET SIZED VIDEPORT */
@media(min-width: 768px){
.main-nav {
display: flex;
justify-content: space-around;
}

.col {
float: left;
width: calc(50% - 20px);
}

.profile-image{
float: right;
}

.main-header{
margin-bottom: 150px;
}

.wrap{
min-height: calc(100vh - 223px); 
}

ul li{
color: black;
background-color: rgb(229, 244, 252);
}

.clearfix::after {
content: "";
clear: both;
display: table;
    }    
} 
/* ************************** END OF TABLET SIZED VIEWPORT *****************************************/







/* ******************************** LARGEST VIEWPORT **********************************************/
@media(min-width: 1200px){

.main-nav{
justify-content: space-between;
}

.nav{
margin-right: auto;
}

.main-footer {
margin-top: auto;
}

.container {
margin: 0 auto;
max-width: 900px;
font-family: 'Roboto', sans-serif;
padding-bottom: 20px;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}    
}

/* END OF LARGEST VIEWPORT */
/* ////////////////////////////////////////////////// END OF MEDIA QUERIES/////////////////////////////////////////////////*/